{% extends 'blog/base.html' %} <!--Estendi il file HTML di base-->

<!--Contenuto da inserire nell'HTML di base-->
{% block content %}
  {% load staticfiles%} <!--Carica i file statici-->
  <div class="post">
    {%for post in posts %}
      <div>
        <h2><strong><a href="{% url 'post_detail' pk=post.pk %}" class="posttitle">{{post.title}}</a></strong></h2>
        <p class="date">Publicato il {{post.published_date}}</p>
        <p class="posttext">{{post.text|linebreaksbr}}</p>
      </div>
    {%endfor %}
  </div>
{% endblock %}
