<html>
  <head>
    <title>DjangoTutorial - Post List</title>
  </head>
  <body>
    <div>
      <h1>DjangoTutorial - Post List</h1>
      <h3>La prima pagina del blog realizzato seguendo il tutorial per Django</h3>
      <br />
    </div>

    <div>
      <h2>Primo Post!</h2>
      <p>Anche se è stato <strong>scritto</strong> a mano in HTML è pur sempre un post!</p>
    </div>

    <div>
      <h2>Devo studiare biologia =(</h2>
      <p>Ma chi c'ha voglia ora di vedere delle <em>membrane</em>...poi non è che voglio fare il medico da grande!</p>
  </body>
</html>
